.tweetbox{
    width: 100%;
    height: 90%;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    top: 14%;
}
.tweetbox-head{
    width: 90%;
    margin: auto;
    height: 50px;
   
    display: flex;
    justify-content: space-between;
}
.tweetbox-middle{
    width: 90%;
    margin: auto;
    height: 120px;
  
}
.tweetbox-lower{
    width: 90%;
    margin: auto;
    height: 30px;
   
   
}
.tweetbox-lowericons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
   
}
.profile{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
     height: 100%;
    
}
.image{
    height: 90%;
    width: 18%;
  
}
.image img{
    width: 100%;
    height: 100%;
}
.name{
    height: 100%;
    width: 60%;
  position: relative;
  top: 25%;
  right:7%;
}
.tweet-logo{
    height: 100%;
    width: 25%;
    
}
.wrapper{
    width: 80%;
    margin: auto;
    height: 280px;
    display: flex;
  background-color: black;
  position: relative;
top: 10%;
}
.pre-wrapper{
    width: 100%;
    height: 650px;
    background-color: black;
}
  .ppp{
    color: #e40084 !important;
    margin: auto;
    font-size: 40px;
    position: relative;
    top: 50;
  }

button{
    margin-right: 6rem;
}